<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <style>

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .top_margin{
      margin-top: 20vh;
    }

    .bottom_margin{
      margin-bottom: 15px;
    }
  </style>

</head>
<body>

<div class="container top_margin">
  <span th:text="${msg}" ></span>
  <div class="row col-12 mb-3">
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addForm">
      Add
    </button>
  </div>

  <div class="row">

    <div class="col-6 bottom_margin" th:each="order: ${orders}">
      <div class="card ">
        <div class="card-header">

          <h4 class="d-inline">Pizza Name :</h4> <label th:text="${order.pizzaName}"></label>
          <b class="float-right" th:text="${order.orderStatus}"></b>
        </div>
        <div class="card-body">
          <h4 class="d-inline">Pizza Price :</h4> <b th:text=" ${order.totalPrice} + &#2547;"></b>

          <input type="text" hidden class="form-control" id = "id" th:value="${order.orderId}" >
          <button type="button" class="btn btn-primary float-right edit"  data-toggle="modal" data-target="#editForm">
            Edit
          </button>

        </div>
      </div>
    </div>
  </div>


</div>

<!--add pizza-->
<div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Add Pizza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="#" th:action="@{/save-pizza}" th:object="${orderDTO}" multiple>
        <div class="modal-body">

          <!--          pizza dropdown-->
          <div class="form-group">
            <label>Pizza</label>
            <select class="form-control base_pizza_price" name="pizzaId" id="pizzaId" required>
              <option value="0">Choose option</option>
              <option th:each="pizza: ${pizzas}" th:value="${pizza.pizzaId}" th:text="${pizza.pizzaName}"></option>
            </select>
          </div>

<!--          toppings dropdown-->
          <div class="form-group">
            <label >Toppings</label>
            <select class="form-control activity toppingId" name="toppingsId" id="toppingId" required multiple>
              <option value="0">Choose option</option>
              <option th:each="topping: ${toppings}" th:value="${topping.toppingsId}"
                      th:text="${topping.toppingsName}"></option>
            </select>
          </div>

          <!--          total price calculation-->
          <div class="form-group">
            <label>Total Price :</label>
            <input type="text" hidden readonly class="form-control prices" id="prices" th:value="*{totalPrice}">
            <input type="text" hidden class="form-control pizzaPriceBase" id="pizzaPriceBase">
            <input type="text" hidden class="form-control toppingPrice" id="toppingPrice">
            <input type="text" hidden class="form-control pizzaPriceHidden" name="totalPrice" id="pizzaPriceHidden">
            <input type="text" readonly class="form-control pizzaPrice" id="pizzaPrice" th:value="*{totalPrice}">
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--edit pizza-->
<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel1">Edit Pizza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="#" th:action="@{/edit-pizza}" th:object="${orderDTO}">
        <div class="modal-body">
          <div class="form-group">

            <input type="text" hidden class="form-control" name="orderId" id="orderId" aria-describedby="emailHelp"
                   placeholder="Enter name">

            <input type="text" hidden class="form-control" name="pizzaId" id="pizzaIdHidden" aria-describedby="emailHelp"
                   placeholder="Enter name">

            <!--          pizza dropdown-->
            <div class="form-group">
              <label>Pizza</label>
              <select class="form-control base_pizza_price pizzaId" required disabled>
                <option value="0">Choose option</option>
                <option th:each="pizza: ${pizzas}" th:value="${pizza.pizzaId}" th:text="${pizza.pizzaName}"></option>
              </select>
            </div>

            <!--          toppings dropdown-->
            <div class="form-group">
              <label>Toppings</label>
              <select class="form-control activity toppingId" name="toppingsId" id="toppingIdValue" required multiple>
                <option value="0">Choose option</option>
                <option th:each="topping: ${toppings}" th:value="${topping.toppingsId}"
                        th:text="${topping.toppingsName}"></option>
              </select>
            </div>
          </div>

          <!--          total price calculation-->
          <div class="form-group">
            <label>Total Price :</label>
            <input type="text" hidden readonly class="form-control prices"  th:value="*{totalPrice}">
            <input type="text" hidden class="form-control pizzaPriceBase" >
            <input type="text" hidden class="form-control toppingPrice" >
            <input type="text" hidden class="form-control pizzaPriceHidden" name="totalPrice" >
            <input type="text" readonly class="form-control pizzaPrice"  th:value="*{totalPrice}">
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

// get base pizza price
$(".base_pizza_price").change(function(event) {
		var total = parseInt($('.prices').val());
		var pizzaPriceBase = parseInt($('#pizzaPriceBase').val());
		var x = $(this).val();

		if(x === '0'){
		 $('.pizzaPrice').val(total);
		 $('.pizzaPriceHidden').val(total);
		 }else{
		  var urlString = "api/v1/pizza/find/"+x;
    $.ajax({
      method: "GET",
      url : urlString
    })
    .done(function(pizza){
      total += parseFloat(pizza.pizzaPrice);

      $('.pizzaPriceBase').val(total);
      $('#pizzaPriceEdit').val(total);
      $('#pizzaPriceValue').val(total);

      if ( ($('.pizzaPriceBase').val()) && ($('.toppingPrice').val()) ) {

        $('.pizzaPrice').val( parseFloat($('.pizzaPriceBase').val()) + parseFloat($('.toppingPrice').val()) );
        $('.pizzaPriceHidden').val( parseFloat($('.pizzaPriceBase').val()) + parseFloat($('.toppingPrice').val()) );
      }else{

        $('.pizzaPrice').val(total);
        $('.pizzaPriceHidden').val(total);
      }
    })
    .fail(function(){
      alert("Connection Error");
    });
		}
	});

// get topping price
	$(".activity").change(function(event) {

// testing multiselect start
var total = parseFloat($('.pizzaPriceBase').val());
var toppingPrice = 0;
	$('.toppingId :selected').each(function(i, sel){

    var x =  $(sel).val();
    if(x === '0'){
     $('.pizzaPrice').val(total);
     $('.pizzaPriceHidden').val(total);
		  } else{
		  var urlString = "api/v1/toppings/find/"+x;
    $.ajax({
      method: "GET",
      url : urlString
    })
    .done(function(topping){
    console.log(topping)
      total += parseFloat(topping.toppingPrice);
      toppingPrice += parseFloat(topping.toppingPrice);
      $('.pizzaPrice').val(total);
      $('.pizzaPriceHidden').val(total);
      $('#toppingPrice').val(toppingPrice);
      $('#pizzaPriceEdit').val(total);
      $('#pizzaPriceValue').val(total);

    })
    .fail(function(){
      alert("Connection Error");
    });
		}

});
// testing multiselect end

	});


	// edit pizza
		$(".edit").click(function(event) {
		var id = $(this).parent().find('#id').val();
		console.log("id:", id);

		 var urlString = "api/v1/order/find/"+id;
    $.ajax({
      method: "GET",
      url : urlString
    })
    .done(function(order){
      $('#orderId').val(order.orderId);
      $('#pizzaIdHidden').val(order.orderDetails[0].pizza.pizzaId);
      $('.pizzaId').val(order.orderDetails[0].pizza.pizzaId);
      const toppingsId = [];
      let toppingsPriceTotal = 0.0;
      for (let i = 0; i < order.orderDetails.length; i++) {
        toppingsId.push(order.orderDetails[i].toppings.toppingsId);
        toppingsPriceTotal += order.orderDetails[i].toppings.toppingPrice;
      }
      $('#toppingIdValue').val(toppingsId);

      $('.pizzaPriceHidden').val(order.totalPrice);
      $('.pizzaPrice').val(order.totalPrice);

      $('.pizzaPriceBase').val(order.orderDetails[0].pizza.pizzaPrice);
      $('.toppingPrice').val(toppingsPriceTotal);

    })
    .fail(function(){
      alert("Connection Error");
    });
	});
});
</script>
</body>
</html>